[submodule "lerobot"]
	url = https://github.com/Jianshu-Hu/lerobot.git
	path = lerobot
[submodule "gello_software"]
	path = gello_software
	url = https://github.com/Jianshu-Hu/gello_software.git
[submodule "libs/wuji-retargeting"]
	path = libs/wuji-retargeting
	url = https://github.com/wuji-technology/wuji-retargeting.git
[submodule "libs/hand-tracking-streamer"]
	path = libs/hand-tracking-streamer
	url = https://github.com/wengmister/hand-tracking-streamer.git
[submodule "libs/FoundationPose-plus-plus"]
	path = libs/FoundationPose-plus-plus
	url = https://github.com/Jianshu-Hu/FoundationPose-plus-plus.git
[submodule "libs/SimToolReal-Franka-Wuji2"]
	path = libs/SimToolReal-Franka-Wuji2
	url = git@github.com:etach-qs/SimToolReal-Franka-Wuji2.git
