[submodule "lerobot"]
	url = https://github.com/learningintheworld/lerobot.git
	path = lerobot
[submodule "gello_software"]
	path = gello_software
	url = https://github.com/learningintheworld/gello_software.git
